
body{
    margin: 0;
    background-color: #0F0F0F;
}

h3{
    padding-top: 10px;
    color: #e50914;
}
.navbar{
    padding: 20px;
}

.error{
    justify-content: center;
    text-align: center;

}
